@import "./reset";

.btn {
  display: inline-block;
  padding: 0 20px;
  height: 100%;
  font-size: 14px;
  cursor: pointer;

  &.blue {
    color: #333;
  }

  & + .btn {
    margin-right: 5px;
  }
}

.ivu-select {
  .ivu-select-selection {
    border-radius: 0;
  }

  .ivu-select-dropdown {
    border-radius: 0;
  }
}

.ivu-input-wrapper {
  input {
    border-radius: 0;
  }
}

.ivu-input-number {
  border-radius: 0;

  .ivu-input-number-handler-wrap {
    opacity: 1;
  }
}

.ivu-slider-button-wrap {
  top: -7px;
}

p[contenteditable='true'] {
  min-width: 50%;
  margin-right: 5px;
  padding: 5px 0;
  background: #fff;
  outline: none;
}

.ivu-modal {
  .ivu-modal-content {
    .ivu-modal-header {
      background: rgba(130, 112, 98, 0.6);
      border-radius: 6px 6px 0 0;
      p {
        color: #fff;
      }
    }
    .ivu-modal-close .ivu-icon {
      color: #fff;
    }
  }
}

.ivu-page {
  & > li {
    border-radius: 0;
  }
}

.ivu-btn {
  border-radius: 0;
  &.padding-btn {
    padding-left: 35px;
    padding-right: 35px;
  }
}
